@charset "utf-8";

#left {
	float: left;
	width: 200px;
	position: relative;
	margin: auto;
}


#content {
	
	width: 750px;
	padding: 5px;
	position: relative;
}

#bottom {
	height: 60px;
	width: 960px;
	position: relative;
	clear: both;
	
}
#m_content {
	float: left;
	width: 470px;
	padding: 5px;
	position: relative;
}