<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "-//mybatis.org//DTD Mapper 3.0//EN">
<mapper namespace="admin">
	<select id="selectMembers" resultType="command.MemberCommand">
		select * from member
	</select>
	<select id="getMemberCount" resultType="int">
		select count(*) from member
	</select>
	<select id="getMember" parameterType="Map" resultType="command.MemberCommand">
		select r,id,name,pw,nick,sort,snum,phone,tel,reg,email from (select rownum r,id,name,pw,nick,sort,snum,phone,tel,reg,email from member order by rownum desc) where r>=#{startNum} and #{endNum}>=r
	</select>
	
	<select id="getStore" resultType="command.MemberCommand" >
	select g.gn, count(g.gcode) from gu g, member m where g.gcode = m.gucode group by g.gn
	</select>
	
	<select id="getgucode" resultType="command.MemberCommand">
	select gucode from member
	</select>
	
	<select id="getGu" resultType="command.admcdCommand">
		select gcode,gn from admcd group by gcode
	</select>
	
	<select id="getGuMem" parameterType="int" resultType="command.admcdCommand">
		select count(*) from member where gcode=#{gcode}
	</select>
</mapper>