<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JoinDAO">

    <insert id="insertMember" parameterType="command.MemberCommand">
       insert into member(id,name,pw,nick,sort,snum,phone,tel,reg,email,cer) values(#{id},#{name},#{pw},#{nick},#{sort},#{snum},#{phone},#{tel},sysdate,#{email},0)
    </insert>
    <update id="updateMember" parameterType="command.MemberCommand">
        update member set
        name = #{name}, pwd = #{pwd},
        email = #{email}, phone = #{phone}, admin = #{admin}
        where userid = #{userid}
    </update>
    <delete id="deleteMember" parameterType="String">
        delete from member where userid = #{userid}
    </delete>
    <select id="selectOne" parameterType="String" resultType="command.MemberCommand">
        select * from member <where> id = #{id}</where>
    </select>
    <select id="selectAll" resultType="command.MemberCommand">
        select * from member
    </select>
    <update id="upcer" parameterType="java.util.HashMap" ><!--인증처리  -->
        update member <set> cer=1</set>
         <where> id = #{id} </where>
    </update>
    
    <select id="find" parameterType="command.MemberCommand" resultType="command.MemberCommand">
    select id,pw from member <where>name=#{name} and email=#{email}</where> 
    </select>
</mapper>
