<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JoinDAO">

    <insert id="insertMember" parameterType="command.MemberCommand">
       insert into member(id,name,pw,nick,sort,snum,phone,tel,reg,email,cer,gucode) values(#{id},#{name},#{pw},#{nick},#{sort},#{snum},#{phone},#{tel},sysdate,#{email},0,#{gucode})
    </insert>
    
    <delete id="deleteMember" parameterType="String">
        delete from member where userid = #{id}
    </delete>
    <select id="selectOne" parameterType="String" resultType="command.MemberCommand">
        select * from member <where> id = #{id}</where>
    </select>
    <select id="selectAll" resultType="command.MemberCommand">
        select id from member
    </select>
    <update id="upcer" parameterType="String" ><!--인증처리  -->
        update member set cer = 1 where id=#{id}
    </update>
    
    <select id="find" parameterType="command.MemberCommand" resultType="command.MemberCommand">
    select id,pw from member <where>name=#{name} and email=#{email}</where> 
    </select>
    
     <select id="selectid" parameterType="String" resultType="int">
        select count(*) from member where id=#{id}
    </select>
    
    <select id="selectGu" resultType="command.GuCommand">
    	select * from gu
    </select>
    
    <!-- admcd테이블에 구명 -->
    <select id="GuS" resultType="command.GuCommand">
    	select gcode, gn from admcd  where rowid in(select max(rowid) from admcd group by gcode) order by gn
    </select>
    
    <!-- admcd테이블에 동명 -->
    <select id="dongS" parameterType="int" resultType="command.GuCommand">
    	select dcode, dn from admcd  where gcode=#{gcode} and rowid in(select max(rowid) from admcd group by dcode) order by dn
    </select>
    
    <select id="danger" parameterType="int" resultType="command.GuCommand">
    select * from danger where gcode=#{gcode}
    </select>
    
     <select id="dand" parameterType="int" resultType="command.GuCommand">
    select * from danger where dcode=#{dcode}
    </select>
    <!--닉네임 중복체크  -->
    <select id="nick" parameterType="String" resultType="String">
    select nick from member where nick=#{nick}
    </select>
    
</mapper>
