<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "-//mybatis.org//DTD Mapper 3.0//EN">
<mapper namespace="mystore">
	<select id="selectMenu" parameterType="String" resultType="command.MenuCommand">
		select * from menu where id=#{id}
	</select>
	<select id="selectOneMenu" parameterType="Map" resultType="command.MenuCommand">
		select * from menu where id=#{id} and item=#{item}
	</select>
	<select id="searchMenuByItem" parameterType="String" resultType="command.MenuCommand">
		select * from menu where item=#{item}
	</select>
	<select id="searchMenuByPrice" parameterType="int" resultType="command.MenuCommand">
		select * from menu where #{price}>=price
	</select>
	<select id="isInsertOrUpdate" parameterType="Map" resultType="command.MenuCommand">
		select item from menu where id=#{id} and item=#{item}
	</select>
	<insert id="insertMenu" parameterType="command.MenuCommand">
		insert into menu values(#{id},#{item},#{price})
	</insert>
	<update id="updateMenu" parameterType="command.MenuCommand">
		update menu set price=#{price},item=#{item} where id=#{id} and item=#{item}
	</update>
	<select id="salePerDay" parameterType="String" resultType="command.SaleCommand">
		select item,sum(total) total from sale where id=#{id} and sysdate>=sysdate-2 and sysdate+2>=sysdate group by item
	</select>
</mapper>