<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "-//mybatis.org//DTD Mapper 3.0//EN">
<mapper namespace="sales">
<!-- 월별 매출 등록 -->
<select id="menuList" parameterType="String" resultType="command.MenuCommand">
select id,item from menu where id=#{id}
</select>

<select id="menuList2" parameterType="String" resultType="command.SaleCommand">
select id,item from sale where id=#{id} and sdate=#{sdate}
</select>

<insert id="insertSales" parameterType="command.SaleCommand">
insert into sale(id,sdate,item,ea,total) values (#{id}, #{sdate}, #{item}, #{ea}, (select price*#{ea} from menu where item=#{item}))
</insert>

<select id="saleList" parameterType="map" resultType="command.SaleCommand">
select sdate,item,ea,total from sale where id=#{id} and sdate=#{sdate} order by sdate
</select>

<update id="updateSales" parameterType="command.SaleCommand">
update sale set ea=#{ea},total=(select price*#{ea} from menu where item=#{item}) where id=#{id} and item=#{item} and sdate=#{sdate}
</update>

<select id="sdateList" parameterType="String" resultType="command.SaleCommand">
select distinct('20'||(to_char(to_date(sdate,'yy-mm-dd'),'YYMMDD')))as sdate from sale where id=#{id} order by sdate
</select>

<select id="checkSales" parameterType="map" resultType="int">
select count(item) from sale where id=#{id} and sdate=#{sdate} and item=#{item}
</select>

<!-- 부수비용 부분 -->
<insert id="insertOther" parameterType="command.OtherCommand">
insert into other(id,sdate,rent,sal,mcost,duty,prcost,etcco) values (#{id}, #{year}||#{mon}, TO_CHAR(#{rent}||'0000'), TO_CHAR(#{sal}||'0000'),TO_CHAR(#{mcost}||'0000'), TO_CHAR(#{duty}||'0000'), TO_CHAR(#{prcost}||'0000'),(TO_CHAR(#{rent}||'0000') + TO_CHAR(#{sal}||'0000') +TO_CHAR(#{mcost}||'0000') + TO_CHAR(#{duty}||'0000') + TO_CHAR(#{prcost}||'0000')))
</insert>

<select id="otherList" parameterType="String" resultType="command.OtherCommand">
select id,sdate,rent,sal,mcost,duty,prcost,etcco from other where id=#{id} order by sdate
</select>

<select id="yearmon" parameterType="String" resultType="command.OtherCommand">
select distinct sdate from other where id=#{id} order by sdate
</select>

<update id="updateOther" parameterType="command.OtherCommand">
update other set rent=TO_CHAR(#{rent}||'0000'),sal=TO_CHAR(#{sal}||'0000'),mcost=TO_CHAR(#{mcost}||'0000'),duty=TO_CHAR(#{duty}||'0000'),prcost=TO_CHAR(#{prcost}||'0000'),etcco=(TO_CHAR(#{rent}||'0000') + TO_CHAR(#{sal}||'0000') +TO_CHAR(#{mcost}||'0000') + TO_CHAR(#{duty}||'0000') + TO_CHAR(#{prcost}||'0000')) where id=#{id} and sdate=#{sdate}
</update>

<select id="checkOther" parameterType="map" resultType="int">
select count(sdate) from other where id=#{id} and sdate=#{year}||#{mon}
</select>

<!-- 순수익,월별매출 차트 -->
<select id="salePerMon" parameterType="String" resultType="command.SaleCommand">
select (sum(total))as tot from sale where id=#{id} group by ('20'||(to_char(to_date(sdate,'yyyy-mm-dd'),'YYMM'))) order by ('20'||(to_char(to_date(sdate,'yyyy-mm-dd'),'YYMM')))
</select>
	
<select id="otherMon" parameterType="String" resultType="command.OtherCommand">
select sdate,(etcco)as etcco from other where id=#{id} order by sdate
</select>
</mapper>