<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sale">
<insert id="insertSales" parameterType="command.SaleCommand">
insert into sale values (#{id},#{sdate},#{item},#{ea},#{total})
</insert>

<select id="listsales" parameterType="String" resultType="String">
select month,sum(total) from sale_m group by month;
</select>
</mapper>