<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "-//mybatis.org//DTD Mapper 3.0//EN">
<mapper namespace="text">
	<select id="selectText" parameterType="String" resultType="command.MemoCommand">
		select top(10) from memo where sub=#{id} and mreg>=mreg-2 and mreg+2>=mreg order by mreg desc
	</select>
	<insert id="insertText" parameterType="command.MemoCommand">
		insert into memo values(#{send},#{sub},null,#{mcontents},sysdate)
	</insert>
	<select id="selectOneText" parameterType="String" resultType="command.MemoCommand">
		select * from memo where mcontents=#{mcontents} order by mreg desc
	</select>
</mapper>