<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="trend">


<select id="concerting"  resultType="command.GuCommand">
	select * from gu order by gn asc
</select>

<select id="total" parameterType="int" resultType="command.SaleCommand">
	select avg(total) as avg, sum(total) as tot from sale 
	where id in(select id from member where gucode = #{gucode} and SDATE  BETWEEN '16/06/01' and '16/06/30')
</select>

<select id="total1" parameterType="int" resultType="command.SaleCommand">
	select avg(total) as avg, sum(total) as tot from sale 
	where id in(select id from member where gucode = #{gucode} and SDATE  BETWEEN '16/07/01' and '16/07/30')
</select>

<select id="total2" parameterType="int" resultType="command.SaleCommand">
	select avg(total) as avg, sum(total) as tot from sale 
	where id in(select id from member where gucode = #{gucode} and SDATE  BETWEEN '16/08/01' and '16/08/30')
</select>

<select id="total3" parameterType="int" resultType="command.SaleCommand">
	select avg(total) as avg, sum(total) as tot from sale 
	where id in(select id from member where gucode = #{gucode} and SDATE  BETWEEN '16/09/01' and '16/09/30')
</select>


<select id="concerting1"  resultType="command.consultingCommand"> 
	select * from retail where division = #{division}
</select>
 
</mapper>