<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	


	<!-- 한글화 등 위한 기본설정 -->
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>false</param-value>
	</context-param>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>  
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 에러페이지 설정 -->
	<!-- <error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/bisup/errorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/bisup/errorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/bisup/errorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/bisup/errorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/bisup/errorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/bisup/errorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/bisup/errorPage.jsp</location>
	</error-page> -->

<servlet>
  <servlet-name>dispatcherlogin</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>dispatcherlogin</servlet-name>
  <url-pattern>/bisup_login/*</url-pattern>
</servlet-mapping>

<!-- 백상휘의 dispatcherMystore-servlet -->
<servlet>
  <servlet-name>dispatcherMystore</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>dispatcherMystore</servlet-name>
  <url-pattern>/mystore/*</url-pattern>
</servlet-mapping>


<!-- 관리자 servlet -->
<servlet>
  <servlet-name>dispatcherAdmin</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>dispatcherAdmin</servlet-name>
  <url-pattern>/admin/*</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>dispatchertrend</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>dispatchertrend</servlet-name>
  <url-pattern>*.do</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>dispatcherjoin</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>dispatcherjoin</servlet-name>
  <url-pattern>/bisupjoin/*</url-pattern>
</servlet-mapping>

	<!-- tiles -->
	<servlet>
		<servlet-name>dispatcherTiles</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherTiles</servlet-name>
		<url-pattern>/bisup/*</url-pattern>
	</servlet-mapping>
	
<servlet>
<servlet-name>dispatcherInfo</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>dispatcherInfo</servlet-name>
  <url-pattern>/info/*</url-pattern>
</servlet-mapping>



	<servlet>		
		<servlet-name>dispatchersales</servlet-name>	
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatchersales</servlet-name>
		<url-pattern>/sales/*</url-pattern>
	</servlet-mapping>

	
	<servlet>		
		<servlet-name>dispatcherMy</servlet-name>	
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherMy</servlet-name>
		<url-pattern>/my/*</url-pattern>
	</servlet-mapping>

</web-app>