<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<!-- 한글화 등 위한 기본설정 -->
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>false</param-value>
	</context-param>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- dispatcher-Servlet 설정 -->
	<!-- <servlet> <servlet-name>dispatcher</servlet-name> <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
		<servlet-mapping> <servlet-name>dispatcher</servlet-name> <url-pattern>/main/*</url-pattern> 
		</servlet-mapping> -->
	<servlet>
		<servlet-name>dispatcherlogin</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherlogin</servlet-name>
		<url-pattern>/bisup_login/*</url-pattern>

	</servlet-mapping>

	<!-- 백상휘의 dispatcherMystore-servlet -->
	<servlet>
		<servlet-name>dispatcherMystore</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherMystore</servlet-name>
		<url-pattern>/mystore/*</url-pattern>
	</servlet-mapping>

	<!-- dispatcher-Servlet 설정 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/main/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>dispatchertrend</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatchertrend</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- tiles -->
	<servlet>
		<servlet-name>dispatcherTiles</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherTiles</servlet-name>
		<url-pattern>/bisup/*</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>dispatcherjoin</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherjoin</servlet-name>
		<url-pattern>/bisup_join/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dispatcherInfo</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherInfo</servlet-name>
		<url-pattern>/info/*</url-pattern>
	</servlet-mapping>



	<!-- <servlet> <servlet-name>dispatchertrend</servlet-name> <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>dispatchertrend</servlet-name> 
		<url-pattern>*.do</url-pattern> </servlet-mapping> -->
	

</web-app>